<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-primary btn-sm" (click)="comentar=true;">Adicionar Comentário</button>
  </div>
  <div class="card-body" *ngIf="comentar">
    <div class="form-group">
      <label>Autor</label>
      <select class="form-control" [value]="comentario.autorid" (change)="updateAutor($event.target.value)">
        <option *ngFor="let autor of autores" value="{{autor.id}}" label="{{autor.nome}}"></option>
      </select>
    </div>
    <div class="form-group">
      <label>Texto do Comentário</label>
      <textarea class="form-control" [(ngModel)]="comentario.texto" rows="3"></textarea>
    </div>
    <button class="btn btn-primary btn-sm" (click)="enviar()">Enviar</button>
  </div>
</div>
